.DS_Store
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/
*.nc
/papers
*.xlsx#
misc/2025-06-23 Fragen Mündliche.pdf
data/json.zip
count.sh
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.edit.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
